<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KU News Scrapper</title>
	<!--Google Fonts link-->
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/chomsky" type="text/css"/>
	<!--JQuery link-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--Bootstrap css link-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--External Javascript-->
	<script src="/app.js"></script>
	<!--External CSS-->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<!--Font Awesome icons-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  	
</head>
	<body>
		{{{ body }}}
	</body>
</html>