<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center bg-primary text-white">
    {{!-- <h1 class="display-4"><i class="fas fa-hamburger"></i> Eat A Burger</h1> --}}
    <h3>KU Basketball News Scrapper</h3>
    <button>Let's Scrap!</button>
    <button>Home</button>
    <button>Saved Articles</button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card border border-primary">
        <div class="card-header bg-primary text-white">
          Scrapped Articles
        </div>
        <!--Put Articles in Here-->
        <div class="card-body" id="articles">
          
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mt-4">
      <div class="card border border-primary">
        <div class="card-header bg-primary text-white">
          Burgers
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devour=false}}
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <div class="card border border-warning">
        <div class="card-header bg-warning text-white" id="devoured-card-header">
          Devoured burgers
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-devoured devour=true}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>