.jumbotron{
  position: relative;
  width: 100%;
  height: 400px;
  box-shadow: 10px 5px 20px 2px lightgray;
  background-image: url(../images/KUbackground.jpg);
  text-align: center;
  color: blue;
  text-shadow: 2px 2px white;
  padding-top: 50px;
}
h1{
  font-family: 'ChomskyRegular';
  font-weight: bold;
  font-size: 10ex;
}
/* 
body{
  background-image: url(../images/KUbackground.jpg);
} */
.card {
  margin-bottom: 2%;
}
#clearAll{
  float: right;
}
#savedHeader{
  margin-bottom: 2%;
}
.btn-saveArt{
  margin: 2%;
  width: 150px;
}